ol {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.block,
li {
  border: 2px solid rgb(0, 0, 0);
  padding: .5em;
  margin-top: 2.5cm;
  true{ background-color: #48ff00; color: rgb(0, 0, 0); }
}
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem; 
}
#section1{ 
  font-size: 2rem;
  margin-top: 3cm;
}
footer {
  margin-top: 11cm;
  display: flex;
  justify-content: flex-end;
}
#text1 { 
  font-size: 1.5rem;
  margin-top: 2cm;
}
#section2 {
  margin-top: 7cm;
}
#footerindex {
  margin-top: 9cm;
}
body.true{ background-color: #3cff00; color: white; }
body.wrong{ background-color: #ff0000; color: white; }