ol {
  display: flex;
  justify-content: center;
  align-items: center;
}
.block,
li {
  border: 2px solid blue;
  padding: .5em;
}

ol {
  display: flex;
  list-style: none;
}

.block {
  display: block;
}
.box {
  box-sizing: border-box;
}
