
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     border: 1px solid black;
}
nav{
    display: flex;
    justify-content: start;
}